
header {
    background-color: rgb(214, 249, 251);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
    
}   
img{
    left: 10%;
    border-radius: 40%;
    height:500px
    
}
body{
    background-color: rgb(222, 240, 246);
}